body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgb(0, 88, 88) , rgb(0, 89, 0) , rgb(130, 32, 32));
}
:root{
    --w-size:400px;
    --h-size:400px;
}

.header{
   text-shadow: 4px 2px 2px rgba(0, 0, 0, .5);
   color: snow;
   letter-spacing: 4px;
   font-size: 35px; 
   margin: 20px;
   font-family: sans-serif;
   text-transform: uppercase;
}

canvas{
    width: var(--w-size);
    height: var(--h-size);
}

.block{
    padding: 10px;
}

.play{
    color: aquamarine;
    cursor: pointer;
}

.play:hover{
    color: red;
}


.timer{
    color: rgb(30, 0, 255);
}

.score{
    color: magenta;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: var(--w-size);
    background-color: darkgray;
    height: 50px;
    position: relative;
    margin: 10px;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.speed{
    margin: 10px;
    background: darkgrey;
    width: var(--w-size);
    height: 50px;
    justify-content: center;
    padding: 10px 0;
    color: aqua;
}

.more{
    cursor: pointer;
    width: 50px;
    background-color: grey;
    border-radius: 10px;
    opacity: .8;
}
.more::after{
    content: '';
    background-color: rgb(255, 8, 115);
    width: 25px;
    height: 3px;
    position:absolute;
    bottom: 30px;
    transform: translate(50%) ;
}
.more::before{
    content: '';
    background-color: rgb(255, 8, 115);
    width: 18px;
    height: 3px;
    position:absolute;
    bottom: 30px;
    transform-origin: bottom;
    transform: translate(80%,-50%) rotate(90deg);
}
.less{
    cursor: pointer;
    width: 50px;
    background-color: grey;
    border-radius: 10px;
    opacity: .8;
}
.less::after{
    content: '';
    background-color: rgb(255, 8, 115);
    width: 25px;
    height: 3px;
    position:absolute;
    bottom: 30px;
    transform: translate(50%) ;
}

.tspeed{
    position: relative;
}

.speednu{
    position: absolute;
    right: 50%;
    transform: translate(50%);
    bottom: -25%;
    font-size: 18px;
}