body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

span{
    background:url(General_Office_54-512.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    --Ylevel:-5000%;
    --Xlevel:-500%;
    animation: animate 6s linear
}

@keyframes animate {
    0%{
        transform: translate(-50%,-50%);
        opacity:1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(var(--Xlevel),var(--Ylevel));
        opacity:0;
        filter: hue-rotate(720deg);
    }

}