*{
    box-sizing: border-box;
    font-family:cursive;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: Coral;
}

.form{
    background: #ffebcd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    border: 4px solid #d1e231;
    color:	#d1e231;
}
.input:hover{
    border: 4px solid #e3f988;
}
.input::placeholder{
    color: lightgray;
}
.button{
    background: #d1e231 ;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin: 12px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) ;
    cursor: pointer;
    
}
.button:hover{
    filter: brightness(0.9);
}
.score{
    color: #00ff7f;
    text-align: right;
    filter: brightness(0.9);
    letter-spacing: 4px;
}