*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right,rgb(0, 80, 0),rgb(1, 83, 83),rgb(109, 0, 109));
}

.clock{
    background:rgba(59, 59, 59, 0.8);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    position: relative;
}

.number{
    --rotation:0;
    font-size: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotation));
    color: aliceblue;
}

.clock .number1{--rotation:30deg;}
.clock .number2{--rotation:60deg;}
.clock .number3{--rotation:90deg;}
.clock .number4{--rotation:120deg;}
.clock .number5{--rotation:150deg;}
.clock .number6{--rotation:180deg;}
.clock .number7{--rotation:210deg;}
.clock .number8{--rotation:240deg;}
.clock .number9{--rotation:270deg;}
.clock .number10{--rotation:300deg;}
.clock .number11{--rotation:330deg;}

.clock::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: aliceblue;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius:50%;
    border: 1px solid black;
    opacity: .9;
    z-index: 10;
}

.hand{
    --rotation:0;
    position: absolute;
    width: 10px;
    height: 45%;
    background-color: antiquewhite;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    z-index: 1;
    opacity: .8;
}

.hand.second{
    background-color: red;
    width: 3px;
}
.hand.minute{
    width: 7px;
    height: 40%;
}
.hand.hour{
    height: 35%;
}

.block{
    display: inline-flex;
    font-size: 20px;
    margin: 5px 15px;
    
}

.digital{
    background-color: rgba(255, 255, 255, 0.6);
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}